html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table,th,td{
  border: 1px solid black;
  padding: 5px;
}

.error {
  background: pink;
}

.horizontalHeader{
  list-style: none;
}

.horizontalHeader li{
  display: inline;
  padding: 5px 20px;
}

.horizontalData{
  list-style: none;
}

.horizontalData li{
  display: inline;
  padding: 5px 10px;
  margin-left: 25px;
}

.dataRow{
  text-align:center;
}

.dataRowWin{
  background: #8eff8e;
}

.dataRowDefeat{
  background: #f27676;
}

.isPerfect{
  background: #799eff;
  font-weight: bold;
}

.kda_0to1{
  background: #ed5e5e 
}

.kda_1to2{
  background: #e89292
}

.kda_2to3{
  background: #3ef99f
}

.kda_3to5{
  background: #3ef973 
}

.kda_5to7{
  background: #3ef951
}

.kda_7up{
  background: green
}

/*.animate-hide{
  transition: all linear 0.5s;
}

.animate-hide.ng-hide{
  line-height: 0;
  padding: 0 10px;
  opacity: 0;
}*/

.animate-hide {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
}

.animate-hide.ng-hide {
  transition: all linear 0.5s;
  height: 0;
  opacity: 0;
  padding: 0 10px;
}

/*.animate-hide.ng-hide-add,
.animate-hide.ng-hide-remove {
  transition: all linear 1s;
  display: block !important;
}

.animate-hide.ng-hide-add.ng-hide-add-active,
.animate-hide.ng-hide-remove {
  opacity: 0;
}

.animate-hide.ng-hide-add,
.animate-hide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}*/